<div class="container">
<div class="card-body">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
<!--        <th scope="col">#</th>-->
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Enabled</th>
        <th scope="col">Authorities</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let user of users">
<!--        <td>{{user.id}}</td>-->
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.enabled }}</td>
        <td>
          <div *ngFor="let authority of user.authorities">
            <p>{{authority.authority}}</p>
          </div>
        </td>
        <td>
          <div>

            <button mat-icon-button>
              <mat-icon (click)="deleteUser(user)" >person_remove</mat-icon>
            </button>

            <button mat-icon-button *ngIf="user.enabled">
              <mat-icon (click)="blockUser(user)">lock</mat-icon>
            </button>

            <button mat-icon-button *ngIf="!user.enabled">
              <mat-icon (click)="unblockUser(user)">lock_open</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon (click)="makeAdmin(user)">admin_panel_settings</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon routerLink="/users/{{user.id}}">login</mat-icon>
            </button>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
