<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Enabled</th>
        <th scope="col">Roles</th>
        <th scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.enabled }}</td>
        <td>
          <ul *ngFor="let authority of user.authorities">
          <p>{{authority.authority}}</p>
          </ul>
        </td>
        <td>
          <div>
          <a type="link" (click)="deleteUser(user)">
          <img src="https://res.cloudinary.com/katemalets/image/upload/v1598545654/icons/delete_nrzq0g.png"></a>
        <a (click)="blockUser(user)">
          <img src="https://res.cloudinary.com/katemalets/image/upload/v1598545654/icons/caps-lock_ewopqh.png">
        </a>
          <a (click)="unblockUser(user)">
           <img src="https://res.cloudinary.com/katemalets/image/upload/v1598545654/icons/caps-unlock_f5h6cq.png">
          </a>
          <a (click)="makeAdmin(user)">
            <img src="https://res.cloudinary.com/katemalets/image/upload/v1598545654/icons/admin_xyifls.png">
          </a>
          <a routerLink="/{{url}}/{{user.id}}">
            <img src="https://res.cloudinary.com/katemalets/image/upload/v1598545654/icons/search_qgkntg.png">
          </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
