<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container contact-form">
  <div class="contact-image">
    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
  </div>
  <form method="post" [formGroup]="myForm" (ngSubmit)="submitForm(myForm)">
    <h3>Create new item</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input formControlName="name" type="text" name="txtName"
                 class="form-control" placeholder="Your Name *" value="" />
        </div>
        <div class="form-group">
          <input formControlName="description"
                 type="text" name="txtPhone" class="form-control" placeholder="Your Description" value="" />
        </div>
        <div class="form-group">
          <input [disabled]="!myForm.valid" type="submit" name="btnSubmit" class="btnContact" value="Save" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
            <ngx-dropzone-label>
             <h2>Drop your image</h2>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of file" [file]="f" [removable]="false">
              <ngx-dropzone-label></ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </div>
        </div>
      </div>
    </div>
  </form>
  <a routerLink="/collections/{{collectionId}}">
    <p class="lead" style="color: #666666"> Back to collection </p></a>
</div>



