<div class="detail-section">
  <div class="container-fluid">
    <img src="{{collection.imageURL}}" class="detail-image">
    <h3>{{collection.name}}</h3>
    <hr>
    <h4>Description: </h4>
    <p>{{collection.description}}</p>
    <a routerLink="/collections" class="mt-5">Back to collections</a>
  </div>
</div>


<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let item of items" class="col-md-3">
          <a routerLink="/items/{{item.id}}">
            <img width="250px" src="{{item.imageURL}}" class="img-responsive">
            <h6>{{item.name}}</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


