<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/home" class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/account">My account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="/collections" class="nav-link">Collections</a>
      </li>
      <li class="nav-item">
        <a routerLink="/items" class="nav-link">Items</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link">Sign up</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
    </ul>
    <app-search></app-search>
  </div>
</nav>

<router-outlet></router-outlet>

