<div class="detail-section">
  <div class="container-fluid">
    <img src="{{item.imageURL}}" class="detail-image">
    <h3>{{item.name}}</h3>
    <hr>
    <button mat-icon-button *ngIf="collection.userId == tokenUserId || collection.userId == userId">
      <mat-icon routerLink="/items/update/{{item.id}}">edit</mat-icon>
    </button>
    <button mat-icon-button *ngIf="collection.userId == tokenUserId || collection.userId == userId">
      <mat-icon (click)="deleteItem(item)">delete</mat-icon>
    </button>
    <button mat-icon-button >
      <mat-icon *ngIf="tokenUserId != null"
                (click)="dislikeItem(item)">favorite_border</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon *ngIf="tokenUserId != null"
                (click)="likeItem(item)">favorite</mat-icon>
    </button>
    <span *ngIf="tokenUserId != null">{{item.likesNumber}}</span>


    <h4>Description: </h4>
    <p>{{item.description}}</p>
  </div>
</div>
<div *ngFor="let tag of tags">
  <span>{{tag.name}}</span>
  <button mat-icon-button *ngIf="collection.userId == tokenUserId || collection.userId == userId">
    <mat-icon (click)="deleteTag(tag)">remove</mat-icon>
  </button>
</div>
<button mat-icon-button *ngIf="collection.userId == tokenUserId || collection.userId == userId">
  <mat-icon  routerLink="/tags/items/{{item.id}}" routerLinkActive="active">add</mat-icon>
</button>
<router-outlet>
</router-outlet>

<div class="container">
  <hr>
  <div class="row comment" *ngFor="let comment of comments">
    <div class="head">
      <p class='user'>{{comment.username}} :  </p>
    </div>
    <div></div>
    <div> {{comment.comment}} </div>
    <hr>
  </div>
  <form *ngIf="tokenUserId != null" method="post" [formGroup]="myForm" (ngSubmit)="submitForm(myForm)">
  <div class="row">
    <input formControlName="comment" type="text" class="form-control" placeholder="  Add a comment">
    <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>
