<div class="main-content">
    <div class="container-fluid">
      <hr>
      <p class="lead main-header" align="center">
        Most popular tags
      </p>
      <div class="row">
        <div *ngFor="let tag of tags" class="col-md-2 col-sm-4">
          <a routerLink="/tags/top/items/{{tag.id}}">
              <p class="font-description" style="color: #666666"> {{tag.name}} </p>
          </a>
        </div>
      </div>

      <hr>
      <p class="lead main-header" align="center">
        Collections with lots of items
      </p>
      <div class="row">
        <div *ngFor="let collection of collections" class="col-md-4 col-sm-6">
          <a routerLink="/collections/{{collection.id}}">
            <img width="290px" src="{{collection.imageURL}}" class="img-home img-responsive">
          </a>
          <div align="center">
            <p class="lead">{{collection.name}}</p>
        </div>
        </div>
        <div *ngIf="collections?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No collections found
        </div>
      </div>
      <hr>
      <p class="lead main-header" align="center">
       Last added items
      </p>

      <div class="row">
        <div *ngFor="let item of items" class="col-md-4 col-sm-6">
          <a routerLink="/items/{{item.id}}">
            <img width="290px" src="{{item.imageURL}}" class="img-home img-responsive">
          </a>
          <div align="center">
            <p class="lead">{{item.name}}</p>
        </div>
        <div *ngIf="items?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No items found
        </div>
      </div>
      </div>
    </div>
  </div>




