<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <hr>
      <p class="lead main-header" align="center">
        Items
      </p>
      <div class="row">
        <div *ngFor="let item of items" class="col-md-4 col-sm-6">
          <a routerLink="/items/{{item.id}}">
            <img width="290px" src="{{item.imageURL}}" class="img-responsive block">
          </a>
            <div align="center">
              <p class="lead">
                {{item.name}}
                <button mat-icon-button>
                  <mat-icon routerLink="/items/{{item.id}}">info</mat-icon>
                </button>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
