/*input:focus{*/
/*  border: 3px solid grey;*/
/*  box-shadow: 1px 1px 2px 0 grey;*/
/*}*/
.block{
  display:inline-block;
  margin-left:10px;
  margin-top:10px;
  opacity: 1;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
  transform: scale(1,1);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
}
.block:hover {
  transform: scale(1.1,1.1);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
  -webkit-transform: scale(1.025,1.025);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1.025,1.025);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}

body {
  background-color: #f5f5f5;
}
.section-content{
  position:relative;
  margin:0 auto;
  z-index:1
}
.img-home{
  padding:3%;
}
.font-description{
  font-family: Helvetica, serif;
}
.section-content-p30{
  padding:0 2%
}

.main-content{
  /*min-height:10vh;*/
  padding:6% 10%;
}

h1,h2,h3,h4,h5,h6{
  color:#333;
  font-weight:700;
  margin:0;
  line-height:1.2
}

h1{
  font-size:36px
}

a:hover{
  color:#333
}

.detail-section{
  margin-top:60px
}

.detail-image{
  width: 200px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
