<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let item of items" class="col-md-4 col-sm-6">
          <a routerLink="/items/{{item.id}}">
            <img width="300px" src="{{item.imageURL}}" class="img-responsive">
            <h1>{{item.name}}</h1>
          </a>
          <button  class="btn btn-light btn-sm">Add to list</button>
        </div>
<!--        <div *ngIf="items?.length == 0" class="alert alert-warning col-md-12" role="alert">-->
<!--          No items found</div>-->
<!--      </div>-->
    </div>
  </div>
</div>
