<h3>Update Collection</h3>

<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="collection.name" name="name">
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="text" class="form-control" id="image" required [(ngModel)]="collection.imageURL" name="image">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="collection.description" name="description">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<a routerLink="/collections/{{collection.id}}">
  <p class="lead" style="color: #666666"> Back to collection </p></a>
