<div *ngFor="let item of items" >
  <a routerLink="/items/{{item.id}}">
    <img width="250px" src="{{item.imageURL}}" class="img-responsive">
    <h6>{{item.name}}</h6>
  </a>
    <div>{{item.description}}</div>
  <button routerLink="/items/update/{{item.id}}" class="btn btn-light btn-sm">Change item</button>
  <button (click)="deleteItem(item)" class="btn btn-danger btn-sm">Delete item</button>
<!--  <button routerLink="/collections/list/{{item.id}}" class="btn btn-warning btn-sm">Change Tags</button>-->

</div>



